@import "./variables";
@import "./reset";
@import "./prism";

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-sans;
}

a {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid $color-hint;
  color: $color-bold;
  text-decoration: none;
  cursor: pointer;

  i,
  svg {
    color: $color-text;
  }

  &:hover {
    border-bottom: 1px solid $color-bold;

    i,
    svg {
      color: $color-bold;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-bold;
}

.mono {
  font-family: $font-mono;
}

#top-nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.5em 2em;

  h1 {
    a {
      border-bottom: none;
      color: $color-text;
    }

    font-size: 1.5em;
    text-decoration: none;
  }

  nav {
    font-size: 1.1em;
    text-align: right;

    a {
      display: inline-block;
      margin: 0 0.5em;
      border-bottom: 0;
      color: $color-text;

      &:hover {
        color: $color-bold;
      }
    }
  }
}

// Overall grid structure for the website
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 600px;
  --breakout-max-width: 850px;
  --breakout-size:
    calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  display: grid;
  grid-column: full-width;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.triple {
  display: grid;
  grid-template-columns:
    1fr min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    ) 1fr;
}

// General content design
.content-general {
  h1 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1.2em;
  }
}

.blog-list-item {
  margin-bottom: 4em;
}

.blog-list-head {
  height: 5em;
  margin-bottom: 1em;
  overflow: hidden;
}

.blog-post {
  .hero-image-container { // Only here because we load in teh image later, so this prevents pop-in / re-paint
    height: 140px;
  }

  .hero-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .readtime {
    float: right;
    font-family: $font-mono;
  }

  .pubdate {
    font-family: $font-mono;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-bold;
  }

  h1 {
    margin-bottom: 0.75rem;
  }

  h2 {
    margin-bottom: 0.75rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-spacing: 0;
    border-collapse: collapse;

    td,
    th {
      padding: 0.5rem;
      border: 1px solid $color-hint;
      text-align: left;
    }
  }
}

.resume {
  margin-bottom: 3em;

  .years {
    h3 {
      color: $color-text;
      font-size: 1.1em;
    }
  }
}
