@use "sass:color";
@use "sass:map";

$font-sans: "Inter",-apple-system,system-ui,sans-serif;
$font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

// colors
$color-text: rgb(187 187 187);
$color-bold: #fff;
$color-hint: rgb(125 125 125 / 30%);
$color-bg: rgb(5 5 5);

// Sizings
$breakpoints: (
  sm: (min: 576px, max: 575.98px),
  md: (min: 768px, max: 767.98px),
  lg: (min: 992px, max: 991.98px),
  xl: (min: 1200px, max: 1199.98px),
  xxl: (min: 1500px,max: 1499.98px),
);

// Mixins
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

@mixin breakpoint($breakpoint, $direction: min) {
  // check if the supplied breakpoint exists in our breakpoits map
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-values: map.get($breakpoints, $breakpoint);
    $breakpoint-min: map.get($breakpoint-values, min);
    $breakpoint-max: map.get($breakpoint-values, max);

    // check if we are writing styles for larger or smaller screens
    @if $direction == min {
      @media (min-width: $breakpoint-min) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint-max) {
        @content;
      }
    }

    // use the custom value if the breakpoint is not part of the pre-defined list
  } @else {
    @if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}
