---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'About'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id='general-content'>
      <div id='general-page'>
        
        <h2>404 - Page not Found</h2>
        <p>I'm sorry the page you were looking for could not be found. Maybe check out the <a href="/blog">blog</a>?</p>

      </div>
		</main>
		<Footer />
	</body>
</html>
