---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'About'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id='general-content'>
      <div id='general-page'>
        <h1>About Me</h1>
        <p>Hello! My name is Mike Valstar and I enjoy developing web applications and building tool for the internet.</p>
        <p>My interest in computers started when I was very young and would setup LAN parties with my friends 
          and learn all about computers so we could fix our broken networking and build our own gaming machines. 
          From there I took every programming course I could find in <a href="https://oakridge.tvdsb.ca/en/index.aspx">high school</a> and later moved on to <a href="https://www.fanshawec.ca/#">Fanshawe College</a> 
          to be one of the first groups to get an Internet Technologist degree at the school.</p>
        <p>While in college I started a couple hobby sites: gentoo-portage.com and gentoo-wiki.com around my favourite Linux distribution <a href="https://www.gentoo.org/">Gentoo</a>.
          Sadly these websites are now gone, but they were an amazing set of projects to learn develop my love of web development.</p>
        <p>After college I first worked for a dairy company as their IT department, later moving to Toronto to work at Globalive for their Wind Mobile and Yak brands. 
          This later led me to now be working at <a href="https://www.konrad.com/">Konrad Group</a> in downtown <a href="https://www.toronto.ca/">Toronto</a>.</p>
        <p>Over my career as a developer I have had an opportunity to <a href="/work">work on dozens of projects</a> and continue learning and 
          growing along with the ever changing field of web development.</p>

        <p>Here are some technology I've worked with lately:</p>
        <div class='skillbox'>
          <ul>
            <li>HTML/CSS</li>
            <li>React</li>
            <li>D3</li>
            <li>Webpack</li>
            <li>Vite</li>
            <li>Ubuntu</li>
            <li>Gitlab</li>
          </ul>
          <ul>
            <li>Javascript</li>
            <li>SQL (SQL Server, MariaDB, Postgres)</li>
            <li>MongoDB</li>
            <li>Redis</li>
            <li>Prisma</li>
            <li>Express</li>
            <li>PHP</li>
            <li>Caddy</li>
          </ul>
          <ul>
            <li>Apollo GraphQL (Federated)</li>
            <li>Storybook</li>
            <li>Astro</li>
            <li>Contentful</li>
            <li>LaunchDarkly</li>
            <li>AWS</li>
          </ul>
        </div>

      </div>
		</main>
		<Footer />
	</body>
</html>
