---
import {dateFormatBlog} from '../util/dateFunctions';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import GridHeader from '../components/gridHeader';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'Blog'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class='content-grid'>
			{posts.map((post) => (<div class="blog-list-item">
				<div class="blog-list-head">
					{post.frontmatter.heroImage ? <img class="full-width" transition:name={"blog-hero" + post.frontmatter.pubDate} src={post.frontmatter.heroImage} alt={post.frontmatter.heroImage} /> : 
						<GridHeader transition:name={"blog-hero" + post.frontmatter.pubDate} className='preview-image' alt={post.frontmatter.heroImageAlt} seed={post.frontmatter.title} client:only="react" />}
				</div>
				<div>
					<h2 transition:name={"blog-title" + post.frontmatter.pubDate}><a href={post.url}>{post.frontmatter.title}</a></h2>
					<time datetime={post.frontmatter.pubDate}>
						{dateFormatBlog(post.frontmatter.pubDate)}
					</time>
					<p>{post.frontmatter.description}</p>
					<p class="read-more"><a href={post.url}>Read More</a></p>
				</div>
		</div>))}
		</main>
		<Footer />
	</body>
</html>
