---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'Contact'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class='content-grid'>
      <div>
        <h1>Get In Touch</h1>
        <p>Although I'm not currently looking for new opportunities, my inbox is always open. 
          Whether you have a question or just want to say hi, I'll try my best to get back to you!</p>
        <br/>
        <p><a href='mailto:mike@valstar.dev' class='button'>Say Hello!</a></p>
      </div>
		</main>
		<Footer />
	</body>
</html>
