---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'Home'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class='content-grid'>

			<div class="content-general">
				<h1>Mike Valstar</h1>
			</div>

			<div class="content-general">
				<p>Working at <a href="http://konrad.com">Konrad Group</a>. I build web things.</p>
				<p>Creator of <a href="https://gorgonjs.dev/">Gorgon.js</a> and software developer 
					currently specializing in Typescript, React and GraphQL based systems.</p>
				<p>Outside of programming, I enjoy cycling and boardgames. 
					I like to cycle around Toronto where I live when the weather is good and play some video games when it's not.</p>

				<br/>

				<p>Find me on</p>
				
				<p><a href="https://gitlab.com/mikevalstar"><i class="fa-brands fa-gitlab"></i> Gitlab</a>&nbsp;
					<a href="https://github.com/mikevalstar"><i class="fa-brands fa-github"></i> Github</a>&nbsp;
					<a href="https://www.strava.com/athletes/65703336"><i class="fa-brands fa-strava"></i> Strava</a>&nbsp;
					<a href="https://www.linkedin.com/in/mike-valstar"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>&nbsp;
					<a rel="me" href="https://fosstodon.org/@Mikevalstar"><i class="fa-brands fa-mastodon"></i> Mastodon</a></p>

					<br/><br/><br/>
			</div>

			<div class="content-general breakout triple resume">
				<div class="mono years">
					<h3>2012 - Now</h3>
				</div>
				<div>
					<h2>Konrad Group</h2>
					<h3>Software Developer, Architect & Technical Director</h3>
					<p>As a developer and later an Architect/Technical Director at Konrad Group I have been on dozens of projects across many clients 
						that range from marketing websites, auction websites, banking applications to retail interfaces. 
						Recently most of the applications I work with are React apps with a GraphQL based backend with various other technologies tied in.</p>
				</div>
			</div>

			<div class="content-general breakout triple resume">
				<div class="mono years">
					<h3>2010 - 2012</h3>
				</div>
				<div>
					<h2>Globalive</h2>
					<h3>Web Developer</h3>
					<p>Maintained the customer facing Yak account system as well as assisting with the Wind Mobile website.</p>
				</div>
			</div>

			<div class="content-general breakout triple resume">
				<div class="mono years">
					<h3>2006 - 2010</h3>
				</div>
				<div>
					<h2>Dairylane Systems</h2>
					<h3>Software Developer and IT Specialist</h3>
					<p>Maintained and builkd the inventory & ordering system, dairy robot systems.</p>
				</div>
			</div>

			<div class="content-general breakout triple resume">
				<div class="mono years">
					<h3>2001 - 2006</h3>
				</div>
				<div>
					<h2>Freelancing</h2>
					<h3>Web Developer</h3>
					<p>Created Gentoo-Wiki.com, as well as worked with clients to migrate from paper based processes to digital systems.</p>
				</div>
			</div>

		</main>
		<Footer />
	</body>
</html>
