---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={'Work'} title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id='general-content'>
      <div id='general-page'>
        <h1>What I've Done</h1>
        <p>Since I finihed I have worked on both internal and externally facing web applications for a variety of clients. 
          I have also focused on mentoring and training junior developers in best practices.</p>

        <h2>Personal Projects</h2>

        <h3><a href="https://gorgonjs.dev">Gorgon.js</a></h3>
        <p>A simple caching library for your projects, currently building helpers for various use cases</p>

        <h2>Where I've Worked</h2>

        <h3>Konrad Group (2012 - present)</h3>
        <p>As a developer and later an Architect/Technical Director at Konrad Group I have been on dozens of projects across many clients 
          that range from marketing websites, auction websites, banking applications to retail interfaces. 
          Recently most of the applications I work with are React apps with a GraphQL based backend with various otehr technologies tied in.</p>

        <h3>Globalive (2010 - 2012)</h3>
        <p>At Globalive I was in charge of the customer facing Yak account system as well as assisting with the Wind Mobile website.</p>

        <h3>Dairylane (2006 - 2010)</h3>
        <p>As the IT Manager at Dairlane I was in charge of teh computer systems, dairy robots and also build and maintained 
          their work order system and inventory system.</p>

        <h3>Feelancing (2001 - 2006)</h3>
        <p>Shortly out of school I freelanced for many companies to help assist them in transitioning from paper processes to digitial. 
          This consisted of both heping out in an IT level as well as building custom applications to suit their business needs.</p>

        <!-- <h2>Some Things I've Built</h2>

        <h3>Real Estate Website</h3>
        <p>Details</p>

        <h3>Banking Client Onboarding Application</h3>
        <p>Details</p>

        <h3>Internal Company Portal</h3>
        <p>Details</p>

        <h3>Every2Min - Xbox & Doritos</h3>
        <p>Details</p>
        
        <div><h4>Gorgon</h4></div>
        <div><h4>Dairylane Work Order and Inventory System</h4></div>
        <div><h4>Valstar.dev</h4></div> -->

      </div>
		</main>
		<Footer />
	</body>
</html>
