---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.scss';

//import {ViewTransitions} from 'astro:transitions';

export interface Props {
	title: string;
	subtitle: string;
	description: string;
	image?: string;
	pubDate?: string;
	modDate?: string;
}

const { title, subtitle, description, pubDate, modDate, image = '/default.webp' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{subtitle ? `${subtitle} - ${title}` : title}</title>
<meta name="title" content={subtitle ? `${subtitle} - ${title}` : title} />
<meta name="description" content={description} />
<meta name="author" content="Mike Valstar" />
{pubDate && <meta name="date" content={pubDate} />}
{pubDate && <meta name="created" content={pubDate} />}
{modDate && <meta name="revised" content={modDate} />}

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="Valstar.dev Blog" href="https://valstar.dev/rss.xml">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/45654b7989.js" async crossorigin="anonymous"></script>
<script data-goatcounter="https://valstar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- <ViewTransitions /> -->
