---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---
<header id='top-nav'>
	<h1><a href="/">{SITE_TITLE}</a></h1>
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
		<a href="https://gitlab.com/mikevalstar"><i class="fa-brands fa-gitlab">Gitlab</i></a>
		<a href="https://github.com/mikevalstar"><i class="fa-brands fa-github">Github</i></a>
		<a href="https://www.strava.com/athletes/65703336"><i class="fa-brands fa-strava">Strava</i></a>
		<a href="https://www.linkedin.com/in/mike-valstar"><i class="fa-brands fa-linkedin">LinkedIn</i></a>
		<a rel="me" href="https://fosstodon.org/@Mikevalstar"><i class="fa-brands fa-mastodon">Mastodon</i></a>
		<a href="mailto:mike@valstar.dev"><i class="fa-solid fa-envelope">Email</i></a>
	</nav>
</header>
