---
import readingTime from 'reading-time';
import {dateFormatBlog} from '../util/dateFunctions';

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import GridHeader from '../components/gridHeader';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		modDate?: string;
		heroImage?: string;
		heroImageAlt?: string;
	};
}

const readTimeText = Astro.props.rawContent ? readingTime(Astro.props.rawContent(), {wordsPerMinute: 120}) : {text: ''};
// TODO: read tiem for mdx files?

const {
	content: { title, description, pubDate, modDate, heroImage, heroImageAlt },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead subtitle={`${title} - Blog`} title={SITE_TITLE} description={description} image={heroImage} pubDate={pubDate} />
	</head>
	<body>
		<Header />
		<main class='content-grid'>
			<article class='blog-post'>
				<div class='hero-image-container'>
					{heroImage ? <img class="hero-image" transition:name={"blog-hero" + pubDate} src={heroImage} alt={heroImageAlt} /> : 
						<GridHeader className='hero-image' transition:name={"blog-hero" + pubDate} alt={heroImageAlt} seed={title} client:only="react" />}
				</div>
				<h1 transition:name={"blog-title" + pubDate}>{title}</h1>
				<p class='readtime'>{readTimeText.text}</p>
				<p class='pubdate'>{pubDate && <time datetime={pubDate}>{dateFormatBlog(pubDate)}</time>}
				{modDate && pubDate !== modDate && <span> - Last updated on <time datetime={modDate}>{modDate}</time></span>}</p>
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
